<div class="absolute z-20 cuerpo w-full cursor-default">
  <app-nav-bar-inicio></app-nav-bar-inicio>
  <div>
  <!-- SECCION PRINCIPAL -->
  <section id="seccion-principal" class="pt-10 w-full">
    <div class="p-6">
      <h1 class="p-1 font-mono text-6xl text-center text-blue-800">Bienvenidos a CRAII - FIIS</h1>
      <h2 class="p-4 font-mono text-4xl text-center text-blue-800">Una biblioteca virtual</h2>
    </div>

    <div class="flex">
      <div class="flex-grow h-80 w-20 ml-32 mr-10 bg-indigo-500 rounded-3xl shadow-2xl">
        <img class="py-6 px-20 h-80 w-full"
             src="https://media.giphy.com/media/PnPBQUJEPpAeqH8rD7/giphy.gif"
             alt="" />
      </div>

      <div class="flex-grow h-80 w-20 ml-10 mr-32 bg-indigo-500 rounded-3xl shadow-2xl">
        <img class="py-6 px-20 h-80 w-full"
             src="https://img1.picmix.com/output/stamp/normal/5/8/0/4/744085_4a9f8.gif"
             alt="" />
      </div>
    </div>

    <div class="flex">
      <div class="flex-grow bg-indigo-500 rounded-full h-auto w-20 ml-32 mr-10 mt-3 shadow-2xl">
        <p class="text-white text-center font-bold mx-auto py-1">Podrás crear tu perfil</p>
      </div>

      <div class="flex-grow bg-indigo-500 rounded-full h-auto w-20 mr-32 ml-10 mt-3 shadow-2xl">
        <p class="text-white text-center font-bold mx-auto py-1">Podrás buscar tus libros</p>
      </div>
    </div>
  </section>
  <!-- FIN: SECCION PRINCIPAL -->

  <!-- SECCION POR QUE -->
  <section id="seccion-porque" class="pt-10 w-full h-auto">
    <div class="my-4 mb-14 w-full bg-indigo-500 border-8 border-indigo-900">
      <h2 class="p-4 font-mono font-bold text-3xl text-center text-indigo-900">POR QUÉ</h2>
    </div>

    <div class="flex">
      <div class="flex-grow bg-indigo-500 rounded-3xl h-auto w-20 ml-28 mr-10 mb-3 shadow-2xl">
        <p class="text-white text-center font-bold mx-auto py-2 px-2">Promovemos la digitalización y el acceso a los
          libros</p>
      </div>

      <div class="flex-grow bg-indigo-500 rounded-3xl h-auto w-20 mr-10 ml-10 mb-3 shadow-2xl">
        <p class="text-white text-center font-bold mx-auto py-2 px-2">Reconocemos el rol fundamental que tienen las
          bibliotecas</p>
      </div>

      <div class="flex-grow bg-indigo-500 rounded-3xl h-auto w-20 mr-28 ml-10 mb-3 shadow-2xl">
        <p class="text-white text-center font-bold mx-auto py-2 px-2">Vinculamos la calidad de espacios web con un mayor
          aprendizaje</p>
      </div>
    </div>

    <div class="flex">
      <div class="flex-grow h-48 w-20 ml-28 mr-10 bg-indigo-500 rounded-3xl shadow-2xl">
        <img class="py-4 px-20 h-48 w-full"
             src="https://decencias.files.wordpress.com/2019/02/ebooks.png?w=736"
             alt="" />
      </div>

      <div class="flex-grow h-48 w-20 ml-10 mr-10 bg-indigo-500 rounded-3xl shadow-2xl">
        <img class="py-4 px-20 h-48 w-full"
             src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/37235/library-books-clipart-md.png"
             alt="" />
      </div>

      <div class="flex-grow h-48 w-20 ml-10 mr-28 bg-indigo-500 rounded-3xl shadow-2xl">
        <img class="py-6 px-20 h-48 w-full"
             src="https://pa.unitytop.net/wp-content/uploads/2021/02/paginas-web.png"
             alt="" />
      </div>
    </div>
  </section>
  <!-- FIN: SECCION POR QUE -->

  <!-- SECCION NOSOTROS -->
  <section id="seccion-nosotros" class="pt-10 w-full h-auto">
    <div class="my-4 mb-14 w-full bg-indigo-500 border-8 border-indigo-900">
      <h2 class="p-4 font-mono font-bold text-3xl text-center text-indigo-900">NOSOTROS</h2>
    </div>

    <div class="grid grid-cols-4">
      <div class="h-auto ml-10 mr-5 p-2 rounded-xl bg-indigo-600">
        <div class="text-center mb-0">
          <img src="https://www.orce.uni.edu.pe/fotosuni/006020200084H.jpg"
               class="mx-auto my-2 h-50 w-40 rounded-full cursor-default" />
        </div>
        <div class="text-center mx-auto">
          <p class="text-3xl text-black font-bold cursor-default">Harold Pérez</p>
          <p class="text-xl text-gray-700 mb-4 cursor-default">"SYSTEM"</p>

          <div class="cursor-default">Harold Adrian Pérez Tinoco</div>
          <div class="cursor-default">20200084H</div>
          <div class="texto-color italic cursor-default">harold.perez.t@uni.pe</div>
        </div>
      </div>

      <div class="h-auto ml-5 mr-5 p-2 rounded-xl bg-indigo-500">
        <div class="text-center mb-0">
          <img src="https://www.orce.uni.edu.pe/fotosuni/006020200037J.jpg"
               class="mx-auto my-2 h-50 w-40 rounded-full cursor-default" />
        </div>
        <div class="text-center mx-auto">
          <p class="text-3xl text-black font-bold cursor-default">Erik Ramirez</p>
          <p class="text-xl text-gray-700 mb-4 cursor-default">"KIRE"</p>

          <div class="cursor-default">Erik Sidane Ramirez Acuña</div>
          <div class="cursor-default">20200037J</div>
          <div class="texto-color italic cursor-default">erik.ramirez.a@uni.pe</div>
        </div>
      </div>

      <div class="h-auto ml-5 mr-5 p-2 rounded-xl bg-indigo-400">
        <div class="text-center mb-0">
          <img src="https://www.orce.uni.edu.pe/fotosuni/006020200064G.jpg"
               class="mx-auto my-2 h-50 w-40 rounded-full cursor-default" />
        </div>
        <div class="text-center mx-auto">
          <p class="text-3xl text-black font-bold cursor-default">Joshua Rupay</p>
          <p class="text-xl text-gray-700 mb-4 cursor-default">"YOSHI"</p>

          <div class="cursor-default">Joshua Antonio Rupay Andreu</div>
          <div class="cursor-default">20200064G</div>
          <div class="texto-color italic cursor-default">joshua.rupay.a@uni.pe</div>
        </div>
      </div>

      <div class="h-auto ml-5 mr-10 p-2 rounded-xl bg-indigo-300">
        <div class="text-center mb-0">
          <img src="https://www.orce.uni.edu.pe/fotosuni/006020200274A.jpg"
               class="mx-auto my-2 h-50 w-40 rounded-full cursor-default" />
        </div>
        <div class="text-center mx-auto">
          <p class="text-3xl text-black font-bold cursor-default">Brayan Taipe</p>
          <p class="text-xl text-gray-700 mb-4 cursor-default">"THE-KILL"</p>

          <div class="cursor-default">Brayan Edwar Taipe Crispin</div>
          <div class="cursor-default">20200274A</div>
          <div class="texto-color italic cursor-default">brayan.taipe.c@uni.pe</div>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN: SECCION NOSOTROS -->

  <!-- SECCION MISION -->
  <section id="seccion-mision" class="pt-10 w-full h-auto">
    <div class="my-4 mb-14 w-full bg-indigo-500 border-8 border-indigo-900">
      <h2 class="p-4 font-mono font-bold text-3xl text-center text-indigo-900">MISIÓN</h2>
    </div>
    <img alt="profil" src="https://i.ibb.co/rwW3hG2/TIEMPO.png" class="h-96 mx-auto" />
  </section>
  <!-- FIN: SECCION MISION -->

  <!-- SECCION FINAL -->
  <section id="seccion-final" class="pt-10 w-full h-auto">
    <div class="my-4 mb-8 w-full bg-indigo-500 border-8 border-indigo-900">
      <h2 class="p-4 font-mono font-bold text-3xl text-center text-indigo-900">CONTÁCTENOS</h2>
    </div>

    <div class="grid grid-cols-1">
      <p class="mx-auto">Sistemas de Lectura FIIS - sistemalecturafiis@gmail.com</p>
      <p class="mx-auto">Sistemas de Lectura FIIS - 990277036</p>
      <p class="mx-auto"></p>
      <p class="mx-auto mb-8 text-xl font-bold tracking-wide text-gray-800 uppercase">CRAII - FIIS - 2021</p>
    </div>
  </section>
  <!-- FIN: SECCION FINAL -->

    </div>
</div>