<!-- SECCION INICIAR SESIÓN (INICIO) -->
<div class="flex justify-center bg-gray-700">
  <!-- SECCION INGRESAR DATOS DE USUARIO INICIO -->
  <div class="flex flex-col bg-white h-auto w-100 border-4 border-gray-300 rounded-3xl">
    <!-- BOTON DE CERRADO INICIO -->
    <div class="flex justify-end bg-gray-300 rounded-tr-2xl rounded-tl-2xl">
      <button class="bg-red-500 h-8 w-8 rounded-full mr-4 mt-1 mb-1">X</button>
    </div>
    <!-- BOTON DE CERRADO FIN -->
    <h1 class="text-center text-3xl font-bold my-6 cursor-default">Iniciar sesión</h1>
    <div class="flex justify-center my-2">
      <input type="email" placeholder="INGRESA UN EMAIL"
        class="bg-gray-300 h-12 w-80 py-3 px-7 rounded-lg placeholder-black focus-within:placeholder-opacity-40" />
    </div>
    <div class="flex justify-center my-2">
      <input type="password" placeholder="CONTRASEÑA"
        class="bg-gray-300 h-12 w-80 py-3 px-7 rounded-lg placeholder-black focus-within:placeholder-opacity-40" />
    </div>
    <div class="flex justify-center my-4">
      <button class="bg-blue-500 rounded h-9 w-24 mx-2">Facebook</button>
      <button class="bg-green-500 rounded h-9 w-24 mx-2">GMAIL</button>
    </div>
    <div class="flex justify-center my-2.5">
      <input type="checkbox" class="h-4 mx-1" />
      <p class="font-bold -translate-y-1.5 mx-1 cursor-default">Mantener sesión iniciada</p>
    </div>
    <div class="flex justify-center">
      <button class="bg-white rounded-3xl h-12 w-36 mx-2 text-gray-600 font-bold">CREAR CUENTA</button>
    </div>
    <div class="flex justify-center my-2">
      <a class="bg-gray-300 border-2 border-gray-400 rounded-2xl h-12 w-36 mx-2 text-gray-600 font-bold">INICIAR
        SESIÓN</a>
    </div>
    <p class="flex justify-center my-6 font-bold underline cursor-pointer">¿NO PUEDES INICIAR SESIÓN?</p>
  </div>
  <!-- SECCION INGRESAR DATOS DE USUARIO FIN -->
</div>
<!-- SECCION INICIAR SESIÓN (FIN) -->